<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMCS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /><!--Custom css-->
    <!--Style Toggle Scripts-->
    <script src="~/js/style-toggle.js" defer></script>
    <link rel="stylesheet" href="~/css/style.css" id="theme-style" asp-append-version="true" /><!-- Default theme css -->
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" /><!--Vendor css tot din template-->
    <link rel="stylesheet" href="~/lib/mdi/font/css/materialdesignicons.css" asp-append-version="true" /><!--Material Design Icons css-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" /><!--Font awesome css-->
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" asp-append-version="true" /><!--Bootstrap-datepicker css-->
</head>
<body>
    <div class="container-scroller">
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            @Html.Partial("_DashNavBarPartial")
        </nav>

        <!-- Page Body -->
        <div class="container-fluid page-body-wrapper">
            <!-- Sidebar -->
            @*<aside class="sidebar sidebar-offcanvas" id="sidebar">*@
            @Html.Partial("_DashSideBarPartial")
            @*</aside>*@

            <!-- Main view -->
            <section class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                <!-- Footer -->
                @Html.Partial("_DashFooterPartial")
            </section>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/misc.js" asp-append-version="true"></script>

    @*For DataTables (For lodging requests)*@
    <script src="~/lib/datatables/js/datatables.bootstrap4.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/js/data-table.js"></script>

    <script src="~/js/select2.js"></script> @*For select2 features*@

    @*For different collapse features*@
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>

    @*For wizard features*@
    <script src="~/lib/jquery-steps/jquery.steps.min.js"></script>
    <script src="~/js/wizard.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
