<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMCS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /><!--Custom css-->
    <!-- De facut aici un simplu <script ce face tot>-->
    @if (ViewBag.SelectedStyle == "dark")
    {
        <link rel="stylesheet" href="~/css/styleDark.css" asp-append-version="true" /> <!--Template css for Dark Theme-->
    }
    else
    {
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" /> <!--Template css for Light Theme-->
    }
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" /><!--Vendor css tot din template-->
    <link rel="stylesheet" href="~/lib/mdi/font/css/materialdesignicons.css" asp-append-version="true" /><!--Material Design Icons css-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" /><!--Font awesome css-->
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" asp-append-version="true" /><!--Bootstrap-datepicker css-->
</head>
<body>
    <div class="container-scroller">
        <div class="banner-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_HomeNavBarPartial")
                    </div>
                </div>
                <div class="row py-sm-5 py-0">
                    <!--Banner Partial-->
                    @Html.Partial("_HomeBannerPartial")
                    <!--Banner Partial-->
                </div>
            </div>
        </div>
        @RenderBody()
        @Html.Partial("_HomeFooterPartial")
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/misc.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
